@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading-1 {
        @apply font-merriweather text-3xl;
    }
    .heading-2 {
        @apply font-merriweather text-base font-thin text-blue-400;
    }
    .searchbar {
        @apply rounded-xl font-roboto font-light bg-neutral-50 border-blue-950;
    }
}

@layer utilities {
    .centerline {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
    }
  }